
<link rel='stylesheet' href='common.css'>

<header></header>

<main>
  <h1>about-us page</h1>
  This is the page content of about-us page
</main>

<footer></footer>

<script src='common.js'></script>

