body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body > * {
  padding: 8px;
}

header {
  background-color: pink;
}

main {
  flex-grow: 1;
}

footer {
  background-color: plum;
}
