
<link rel='stylesheet' href='common.css'>

<header></header>

<main>
  <h1>contact page</h1>
  This is the page content of contact page
</main>

<footer></footer>

<script src='common.js'></script>

