<footer>
  <ul>
    <li><a href="/home-page.html">Home Page</a></li>
    <li><a href="/profile-page.html">Profile Page</a></li>
    <li><a href="/about-us-page.html">About Us</a></li>
    <li><a href="/contact-page.html">Contact Us</a></li>
  </ul>
</footer>
