
<link rel='stylesheet' href='common.css'>

<header></header>

<main>
  <h1>profile page</h1>
  This is the page content of profile page
</main>

<footer></footer>

<script src='common.js'></script>

